<h1>Welcome</h1>

<h2>Here is my awesome app which will be a gluten-free restaurant guide for the
Denver/Boulder area and hopefully later do other kinds of dietary restrictions.  Also it would be
awesome to eventually add recipe filtering.  </h2>

<a href="/restaurants">Restaurants</a>