<h1>All Restaurants:</h1>

<% @restaurants.each do |restaurant| %>
<p><a href="restaurants/<%=restaurant.id%>"><%= restaurant.name %></a></p>
<% end %>




<a href="restaurants/new">Add a Restaurant</a>