<h1>All Restaurants:</h1>

<% @restaurants.each do |restaurant| %>
<p><%= restaurant.name %> --- <a href="<%= restaurant.link %>"><%= restaurant.name %> Website</a></p>
<% end %>




<a href="restaurants/new">Add a Restaurant</a>