#homepage_body {
    background: image-url('front-range.jpeg') no-repeat center center fixed;

    background-size: cover;
}

#homepage_body_container {
    max-width: 980px;
    margin: auto;
}

#homepage_body_container li {
  list-style: none;

}

#homepage_body_container a {
  text-decoration: none;
  float:right;
  padding: 20px;

}

#content {
  clear: both;
}

.button {
  border: 2px solid white;
  background: black;
  color: white;
}

.button:hover {
  border: 2px solid black;
  background: white;
  color: black;
}
